﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiceCenter</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="rainbow">
    @if (ViewBag.user != "")
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a asp-area="" asp-controller="Home" asp-action="Login" class="navbar-brand">ServiceCenter</a>*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="RequestForm">New request</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="MyRequests">Show my requests</a></li>
                        @if (ViewBag.UserAccessRights == UserAccessRights.manager.ToString())
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="ShowDepartmentRequests">Show all requests for department</a></li>
                        }
                        @if (ViewBag.UserAccessRights == UserAccessRights.admin.ToString())
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="ShowDepartmentsRequests">Show all requests</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Department">Show the department</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="InfoUsers">List of users</a></li>
                        }
                        <li class="dropdown show right">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User : @ViewBag.user
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Login">Logout</a>
                                <br>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="EditProfile">Edit Profile</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    }

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - ServiceCenter</p>
            <div class="social-media_wrapper">
                <div>
                    <a style="margin:0 10px 0 0" class="floating-boxlogo" href="https://facebook.com/">
                        <img src="https://img.icons8.com/color/48/000000/twitter-circled.png" alt="1">

                    </a>
                    <a style="margin:0 10px 0 0" class="floating-boxlogo" href="https://twitter.com/">
                        <img src="https://img.icons8.com/color/48/000000/facebook-circled.png" alt="">

                    </a>
                    @*<a style="margin:0 10px 0 0" class="floating-boxlogo" href="https://google.com/">
                        <img src="~/images/icon7.png" alt="logo7">

                    </a>*@
                    <a style="margin:0 10px 0 0" class="floating-boxlogo" href="https://linkedin.com/">
                        <img src="https://img.icons8.com/color/48/000000/linkedin-circled.png"  alt="3">

                    </a>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/hide.js"></script>

    </environment>
    
    @RenderSection("Scripts", required: false)
</body>
</html>