﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('../images/geometry.png')
}

ul{
    font-size:large;
}
footer {
    text-align:center;
}
.form-group {
    text-align:center;
    font-size:large;
}
.floating-boxlogo {
    border-color:aqua;
    text-align: center;
    display: inline-block;
    width: 45px;
    height: 45px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*background-color:gray;*/
}
/*.panel-body div{
    padding-bottom:0px;
    padding-top:0px;
}*/
#userInputtest {
    
    width: 443px;
    height: 50px;
    border-radius: 3px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
}

#buttonintest {
    width: 161px;
    height: 46px;
    border-radius: 3px;
    background-color: #de2b24;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    border-color: #de2b24;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: large;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
