﻿@model User
@{
    ViewData["Title"] = "Add New Employee";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddedUser">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="UserAccessRights">User access rights:</label>
        <select asp-for="UserAccessRights">
            <option>admin</option>
            <option>manager</option>
            <option>employee</option>
        </select>
    </div>
    <div>
        <label asp-for="FirstName">First name:</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="LastName">Last name:</label>
        <input asp-for="LastName" />
    </div>
    <div>
        <label asp-for="PatronymicName">Patronymic name:</label>
        <input asp-for="PatronymicName" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-primary" asp-action="InfoUsers" asp-controller="Home">Cancel</button>
    </div>
</form>