﻿@model Department

@{
    ViewData["Title"] = "Add Department";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddedDepartment">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Department name:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Description">Department description:</label>
        <input asp-for="Description" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-primary" asp-action="Department" asp-controller="Home">Cancel</button>
    </div>
</form>