﻿@{
    ViewData["Title"] = "Admin";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <label>Email:</label><br />
    <input type="text" name="email" /><br /><br />
    <label>Password:</label><br />
    <input type="text" name="password" /><br /><br />
    <label>AccessRights:</label><br />
    <input type="text" name="rights" /><br /><br />
    <label>FirstName:</label><br />
    <input type="text" name="firstname" /><br /><br />
    <label>LastName:</label><br />
    <input type="text" name="lastname" /><br /><br />
    <label>PatronymicName:</label><br />
    <input type="text" name="patronymicname" /><br /><br />
    <input type="submit" value="Отправить" />
</form>