﻿@model Request
@{
    ViewData["Title"] = "Close Request";
}

<h2>@ViewData["Title"]</h2>

@{
    Request r = Model;
}

<form asp-action="ClosedRequest" asp-route-ID=@r.RequestID>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Comment">Comment:</label>

        <textarea asp-for="Comment"></textarea>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-primary" asp-action="ShowDepartmentsRequests" asp-controller="Home">Cancel</button>
    </div>
</form>