﻿@model IEnumerable<DepartmentWithUserWithRequest>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>
@{
    ViewData["Title"] = "Show Department";
}

<h2>@ViewData["Title"]</h2>
<div>
    <style>

        .hidden {
            display: none;
        }

        .shape {
            display: block;
            padding: 10px;
            background: yellow;
            margin-bottom: 10px;
        }
    </style>

    @foreach (DepartmentWithUserWithRequest d in Model)
    {

        <div id="tableshow" class="panel-heading ">

            <div style="padding:0px" class="panel-body">

                <h1>Department #@d.department.DepartmentID: @d.department.Name</h1>


                <a class="btn btn-info">Show</a>
                <a class="btn btn-warning" asp-controller="Home" asp-action="EditDepartment" asp-route-ID="@d.department.DepartmentID">Edit</a>
                @if (d.department.DepartmentID != 1)
                {
                    <a class="btn btn-danger" asp-controller="Home" asp-action="DeletedDepartment" asp-route-ID=@d.department.DepartmentID>Delete</a>
                }
                else
                {
                    <a class="btn btn-danger" style="display:none" disabled="disabled">Delete</a>
                }


                <table style="display:none" class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Patronimyc</th>
                            <th>Email</th>
                            <th>Head</th>
                            <th>Access Rights</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User u in d.Users)
                        {
                            <tr>
                                <td>@u.UserID</td>
                                <td>@u.FirstName</td>
                                <td>@u.LastName</td>
                                <td>@u.PatronymicName</td>
                                <td>@u.Email</td>
                                @if (u.UserID == d.department.MainManager)
                                {
                                    <td>Im Head</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@u.UserAccessRights</td>


                            </tr>
                        }

                    </tbody>
                </table>



            </div>
        </div>
    }
    <a class="btn btn-success" asp-action="AddNewDepartment">ADD NEW DEPARTMENT</a>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        @*asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery" *@
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>
<script src="~/js/hide.js"></script>