﻿@model Department
@{
    ViewData["Title"] = "Edit Department";
}

<h2>@ViewData["Title"]</h2>

@{

    Department d = Model;
}

<form asp-action="EditedDepartment" asp-route-ID=@d.DepartmentID>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Department name:</label>
        <input asp-for="Name" />
    </div>
    <div>

        <label asp-for="Description">Department description:</label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="MainManager">Main Manager ID:</label>
        <input asp-for="MainManager" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Okay</button>
        <button class="btn btn-primary" asp-action="Department" asp-controller="Home">Cancel</button>

    </div>
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        @*asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery" *@
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>
<script src="~/js/hide.js"></script>