﻿@model User
@{
    ViewData["Title"] = "Edit User";
}

<h2>@ViewData["Title"]</h2>

@{
    User u = Model;
    u.Password = "";
}

<form asp-action="EditedUser" asp-route-ID=@u.UserID>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email">Email:</label>
        <input min="0" asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="UserAccessRights">User access rights:</label>
        <select asp-for="UserAccessRights">
            <option>admin</option>
            <option>manager</option>
            <option>employee</option>
        </select>
    </div>
    <div>

        <label asp-for="DepartmentID">Department ID:</label>
        <input asp-for="DepartmentID" />
    </div>
    <div>
        <label asp-for="FirstName">First name:</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="LastName">Last name:</label>
        <input asp-for="LastName" />
    </div>
    <div>
        <label asp-for="PatronymicName">Patronymic name:</label>
        <input asp-for="PatronymicName" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Okay</button>
        <button class="btn btn-primary" asp-action="EditUser" asp-controller="Home">Cancel</button>

    </div>
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        @*asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery" *@
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>
<script src="~/js/hide.js"></script>
