﻿@model User

@{
    ViewData["Title"] = "Update Profile";
}

<h2>Welcome @ViewBag.userAccessRights : @ViewBag.user (Department: @ViewBag.userDepartment)</h2>

<h3>@ViewData["Title"]</h3>
@{
    User u = Model;
}
<form asp-action="EditedProfile" asp-route-ID=@u.UserID>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email">Email:</label>
        <input placeholder="@ViewBag.user" asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="FirstName">First name:</label>
        <input placeholder="@ViewBag.userFirstName" asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="LastName">Last name:</label>
        <input placeholder="@ViewBag.userLastName" asp-for="LastName" />
    </div>
    <div>
        <label asp-for="PatronymicName">Patronymic name:</label>
        <input placeholder="@ViewBag.userPatronymicName" asp-for="PatronymicName" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Okay</button>
        <button class="btn btn-primary" asp-action="Welcome" asp-controller="Home">Cancel</button>

    </div>
</form>