﻿@model IEnumerable<ServiceCenter.Models.User>


@{
    ViewData["Title"] = "Users Information";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("InfoUsers", "Home", FormMethod.Get))
{
    @Html.TextBox("searching")
<input type="submit" class="btn btn-info" value="Search by Name" />
 <br /> 
}
  <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Patronymic Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Department</th>
                            <th>Action</th>
                        </tr>
                    </thead>
      <tbody>
          @if (Model.Count()==0)
          {
              <tr>
                  <td colspan="8" style="color:red">
                      No Match
                  </td>
              </tr>
          }
          else
          {
              foreach (var item in Model)
              {
              <tr>
                  <td>@item.UserID</td>
                  <td>@item.FirstName</td>
                  <td>@item.LastName</td>
                  <td>@item.PatronymicName</td>
                  <td>@item.Email</td>
                  <td>@item.UserAccessRights</td>
                  <td>@item.DepartmentID</td>
                  <td>
                      <a class="btn btn-warning" asp-controller="Home" asp-action="EditUser" asp-route-ID=@item.UserID>Edit</a>
                      <a class="btn btn-danger" asp-controller="Home" asp-action="DeletedUser" asp-route-ID=@item.UserID>Delete</a>
                  </td>
              </tr>
              }
          }
      </tbody>
      </table>
<a class="btn btn-success" asp-action="AddNewUser">ADD NEW EMPLOYEE</a>
