﻿@{
    ViewData["Title"] = "Login";
}
<form  method="post">
    <div class="form-group">
    <label>Login:</label><br />
    <input id="userInputtest" type="email" class="form-control" placeholder="Your Email:" required name="login" /><br /><br />
    
    <input id="userInputtest" type="password" class="form-control" placeholder="Your Password:" required name="password" /><br /><br />
    <input id="buttonintest" class="btn btn-primary" type="submit" value="Log in" />
        </div>
</form>