﻿@model Request

@{
    ViewData["Title"] = "Request Form";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddedRequest">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="RequestCategory">Request category:</label>
        <select asp-for="RequestCategory">
            <option>Hardware</option>
            <option>Software</option>
        </select>
    </div>
    <div>
        <label asp-for="Description">Request description:</label>
        <input asp-for="Description" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Compose & Send Ticket</button>
        <button class="btn btn-primary" asp-action="Welcome" asp-controller="Home">Cancel</button>

    </div>
</form>

