﻿@model IEnumerable<DepartmentWithUserWithRequest>

@{
    ViewData["Title"] = "Requests from departments";
}

<h2>@ViewData["Title"]</h2>

<div>

    @foreach (DepartmentWithUserWithRequest d in Model)
    {
        <div class="panel-heading text-center">
            <div class="panel-body">
                <h1>Department #@d.department.DepartmentID: @d.department.Name</h1>
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>UserId</th>
                            <th>Email</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Comment</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Request r in d.Requests)
                        {
                            <tr>
                                <td>@r.RequestID</td>
                                <td>@r.UserCreatorID</td>
                                <td>@((from u in d.Users where u.UserID == r.UserCreatorID select u.Email).FirstOrDefault())</td>
                                <td>@r.RequestCategory</td>
                                <td>@r.Description</td>
                                <td>@r.RequestStatus</td>
                                <td>@r.Comment</td>
                                <td>
                                    @if (r.RequestStatus == "closed")
                                    {
                                        <a class="btn btn-danger" disabled="disabled">Closed</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger" asp-controller="Home" asp-action="CloseRequest" asp-route-ID=@r.RequestID>Close</a>
                                    }

                                    @if (r.RequestStatus == "accepted")
                                    {
                                        <a class="btn btn-success" asp-controller="Home" asp-action="CompletedRequest" asp-route-ID=@r.RequestID>Complete</a>
                                    }
                                    @if (r.RequestStatus == "completed" || r.RequestStatus == "created")
                                    {
                                        <a class="btn btn-success" disabled="disabled">Completed</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

