﻿@model ServiceCenter.Models.User
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome @ViewBag.userAccessRights : @ViewBag.user (Department: @ViewBag.userDepartment)</h1>

<p>This is your workplace. To continue your work select one of the menu items</p>


